.clear {
	clear: both;
}
.panel-body .form-horizontal .form-group {
	margin: 0 0 20px
}
.innercta > h3 {
	text-align: center;
}
.featured_image {
    margin-bottom: 25px;
}
.featured_image img {
    width: 100%;
}
.featured_image .baseinner {
    border-radius: 125px;
    overflow: hidden;
    border: 5px dashed #263238;
}
.featured_image.homebase .baseinner {
    border: 0;
    border-radius: 0;
}
.sitelogo img {
    max-width: 100%;
}